#cache files
/cache/*


/data/*

/david_data/*


/downstream/cell_cell_communication/data/*
/downstream/cell_cell_communication/*.err
/downstream/cell_cell_communication/*.out
/downstream/cell_types_nich_annotation/cell_type_rawdata/*
/downstream/cell_types_nich_annotation/data/*
/downstream/cell_types_nich_annotation/figures
/downstream/subcellular_localization_prediction/data/*
/downstream/subcellular_localization_prediction/templates/*
/downstream/subcellular_localization_prediction/*.csv
/downstream/subcellular_localization_prediction/transcripts_genesamepatterns.csv
/downstream/subcellular_localization_prediction/data/graph_list.pkl
/downstream/subcellular_localization_prediction/data/graph_list.pkl
/downstream/subcellular_localization_prediction/templates/
/downstream/subcellular_localization_prediction/transcripts_genesamepatterns.csv
/downstream/cell_cell_communication/benchmark/CellContrast/
downstream/Coordinate_perturbation/data/*
/Figures/*


/output/*

/processed/*

/scripts/*.pkl
/scripts/*.log
/scripts/*.out
/scripts/figures/*
/scripts/core

/reference_gene/*



/spatialformer/checkpoint

#all the figures
/downstream/**/*png
*.jpg

#all core file
*core

#all h5ad file
*.h5ad

#all checkpoints
*.ckpt

#all pickled files
*.pkl
# But do not ignore these specific ones
!/spatialformer/spatial_embeddings/xenium_5k_pandavid_gene_embeddings.pkl
!/spatialformer/data/gene_median.pkl
!/downstream/cell_cell_communication/data/all_infos_alllung_crop_id_Mac_T.pkl
!/downstream/cell_cell_communication/data/all_infos_alllung_crop_id_Mac_T.pkl
!/downstream/cell_cell_communication/data/CellNEST_database.csv
!/downstream/cell_cell_communication/data/ligand_receptor_database.csv

#download intermediate files
/data_preprocessing/*.err
/data_preprocessing/*.out


#pyc files
*.pyc
__pycache__/

#other data
other_data/

#train file
/train/*.err
/train/*.out

#checkpoints
/data_preprocessing/.ipynb_checkpoints/
/train/.ipynb_checkpoints/
/downstream/Coordinate_perturbation/.ipynb_checkpoints/



