/cache/*

/data/*

/david_data/*

/david_data/*

/downstream/*

/Figures/*

/output/*

/processed/*

/scripts/*.pkl
/scripts/*.log
/scripts/*.out
/scripts/figures/*
/scripts/core

/reference_gene/*



/spatialformer/checkpoint

